footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
   background: linear-gradient(90deg, #1a1a1a 4  5%, #3b1c68);
  color: #fff; 
  padding: 20px;
  gap: 50px;
  text-align: center;
  border-top: solid 2px rgb(22, 21, 21)
  /* position: relative;  <-- Elimina o comenta esta línea */
}
footer :hover {
  color: #3b1c68; 
}

footer h1 {
  font-size: 24px; 
  margin: 0; 
}

.restriction {
  height: 115px;
  width:auto;
}

.loguito {
  height: 90px; 
  width: auto;
}