header {
  background: linear-gradient(90deg, #1a1a1a 4  5%, #3b1c68);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 8rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
  
}

header h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  animation: fadeInDown 1s ease-out;
}

.navbar {
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  margin-right: 10%;
  animation: fadeInDown 1s ease-out;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-left: 2rem;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #a374ff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar a:hover {
  color: #a374ff;
}

.navbar a:hover::after {
  width: 100%;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logito {
  fill: rgb(255, 255, 255);
}

img{
  width: 8rem;
}

/* Estilo para el contenedor del usuario */
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-right: 4rem;

}

.user:hover {
  transform: scale(1.05);
}

.user p {
  margin: 0;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none; /* Corregido */
  transition: color 0.3s ease;
  
}

.user:hover p {
  color: #a374ff;
}

.user .dropdown {
  display: none; /* Oculta el dropdown por defecto */
  position: absolute;
  top: 100%; /* Posiciona el dropdown debajo del contenedor */
  left: 0;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000; /* Asegura que el dropdown esté por encima del video */
  padding: 0.5rem 0;
}


.user:hover .dropdown {
  display: block; /* Muestra el dropdown al hacer hover */
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s ease;
}
.user .dropdown-item:hover {
  background-color: #3b1c68;
  color: #a374ff;
}

.user .dropdown-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s ease;
}