.mesa-button {
  padding: 10px;
  border: 1px solid green;
  border-radius: 8px;
  background-color: #e6ffe6;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.mesa-button:hover {
  background-color: #ccffcc;
}